In [6]:

import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [34]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [35]:
soup=BeautifulSoup(webpage,'lxml')

In [22]:
#print(soup.prettify())
soup.find_all('h1')[0].text

'List of companies in India'

In [33]:
for i in soup.find_all('h2'):
  print(i.text.strip())

In [36]:
company=soup.find_all('div',class_='company-content-wrapper')

In [37]:
name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
how_old=[]
no_of_employee=[]

for i in company:

  name.append(i.find('h2').text.strip())
  rating.append(i.find('p',class_='rating').text.strip())
  reviews.append(i.find('a' , class_='review-count').text.strip())
  ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
  hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
  how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
  no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

df=pd.DataFrame({'name':name,
   'rating':rating,
   'reviews':reviews,
   'company_type':ctype,
   'Head_Quarters':hq,
   'Company_Age':how_old,
   'No_of_Employee':no_of_employee,
   })
  
name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
how_old=[]
no_of_employee=[]

for i in company:

  name.append(i.find('h2').text.strip())
  rating.append(i.find('p',class_='rating').text.strip())
  reviews.append(i.find('a' , class_='review-count').text.strip())
  ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
  hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
  how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
  no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

df=pd.DataFrame({'name':name,
   'rating':rating,
   'reviews':reviews,
   'company_type':ctype,
   'Head_Quarters':hq,
   'Company_Age':how_old,
   'No_of_Employee':no_of_employee,
   })

In [32]:
df.head

<bound method NDFrame.head of Empty DataFrame
Columns: [name, rating, reviews, company_type, Head_Quarters, Company_Age, No_of_Employee]
Index: []>

In [ ]:
company

Creating dataframe for all pages

In [44]:
final=pd.DataFrame()
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
for j in range(1,1001):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j),headers=headers).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='company-content-wrapper')
  name=[]
  rating=[]
  reviews=[]
  ctype=[]
  hq=[]
  how_old=[]
  no_of_employee=[]

  for i in company:

    try:
       name.append(i.find('h2').text.strip())
    except:
       name.append(np.nan)

    try:
       rating.append(i.find('p',class_='rating').text.strip())
    except:
       rating.append(np.nan)
   
    try:

      reviews.append(i.find('a' , class_='review-count').text.strip())
    except:
      reviews.append(np.nan)

    try:

      ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    except:
      ctype.append(np.nan)
    try:

      hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    except:
      hq.append(np.nan)
    
    try:

      how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    except:
      how_old.append(np.nan)
    try:
      no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
    except:
      no_of_employee.append(np.nan)
    

  df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    'company_type':ctype,
    'Head_Quarters':hq,
    'Company_Age':how_old,
    'No_of_Employee':no_of_employee,
    })
  
  final=final.append(df,ignore_index=True)

In [46]:
final.sample(5)

,name,rating,reviews,company_type,Head_Quarters,Company_Age,No_of_Employee
5843,Maharani Innovat...,3.1,(92 Reviews),Private,"Palwal,Haryana + 9 more",43 years old,201-500 Employees (India)
9202,Velammal Medical...,3.8,(57 Reviews),Private,"Madurai,Tamil Nadu + 2 more",10 years old,51-200 Employees (India)
9737,InsuranceDekho,3.4,(54 Reviews),Gurgaon/Gurugram + 7 more,NaN,NaN,NaN
8030,DECON,2.9,(66 Reviews),Gurugram + 17 more,30 years old,11-50 Employees (India),NaN
9958,Vana Retreats,3.9,(52 Reviews),Private,Dehradun,9 years old,51-200 Employees (India)

In [40]:
df.sample(5)

,name,rating,reviews,company_type,Head_Quarters,Company_Age,No_of_Employee
16,Larsen & Toubro ...,4.1,(24.7k Reviews),Public,"Mumbai,Maharashtra + 532 more",77 years old,10k-50k Employees (India)
15,Reliance jio,4.0,(15.1k Reviews),Public,"Navi Mumbai,Maharashtra + 1008 more",16 years old,50k-1 Lakh Employees (India)
1,Accenture,4.1,(33.2k Reviews),Public,Dublin + 131 more,34 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(40.5k Reviews),Public,"Mumbai,Maharashtra + 1282 more",29 years old,50k-1 Lakh Employees (India)
14,IBM,4.2,(15.6k Reviews),Public,"Armonk,New York + 122 more",112 years old,50k-1 Lakh Employees (India)

In [38]:
df.shape

(30, 7)